binaryen
binaryen-build/CMakeFiles
binaryen-build/lib
binaryen-build/src
clang
llvm
llvm-build/CMakeFiles
llvm-build/cmake
llvm-build/docs
llvm-build/examples
llvm-build/include
llvm-build/lib
llvm-build/libexec
llvm-build/projects
llvm-build/runtimes
llvm-build/share
llvm-build/test
llvm-build/tools
llvm-build/unittests
llvm-build/utils
tests
wabt/cmake
wabt/demo
wabt/fuzz-in
wabt/scripts
wabt/src
wabt/test
wabt/third_party
